.site-header{
    width: 100%;
    height: 70px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 0;
    background-color: black;
    display: flex;
    justify-content: space-between;
    
    &__left-container{
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 25px;
    }

    &__right-container{
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 30px;
    }

    &__logo{
        margin-right: 20px;
    }
    
    &__search{
        fill: white;
    }
}