.site-header {
    width: 100%;
    height: 70px;
    background-color: chartreuse;
    padding: 1px;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    
    & __left-container {
        box-sizing: border-box;
        font-size: 30px;
    }

    & __right-container {
        box-sizing: border-box;
    }
}