.site-sub {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 50px;

  &__titleContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    border: 1px dashed blueviolet;
  }

  &__dayCircleContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    border: 1px dashed blueviolet;
  }

  &__animationContainer {
    display: flex;
    gap: 10px;
    overflow-x: visible;
  }

  &__animation {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    flex: 0 0 calc(20% - 10px);
    max-width: calc(20% - 10px);
  }

  &__animation-thumbnail {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
  }

    
  &__notice-button {
    padding: 10px 16px;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    border: 1px solid gray;
  }

  &__circle {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    vertical-align: center;

    &--non-selected {
      background-color: #D0D0D0;
    }

    &--selected {
      background-color: #816BFF;
    }
  }

  &__circle-text {
    vertical-align: middle;
    text-align: center;
    display: block;
  }
}